html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	position: relative;
	overflow: overlay;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

ul,
li {
	list-style: none;
}

button:focus,
input:focus {
	outline: transparent;
}

body {
	@extend %sfproDisplay-regular;
	font-size: 20px;
	line-height: 24px;
	color: #2F3035;
	overflow-x: hidden;
	min-width: 320px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.page-section {
	margin-bottom: 80px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content {
	flex: 1 0 auto;
}

.page-bottom {
	flex: 0 0 auto;
}