	/* start header__top */
	.header__top {
		&-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			min-height: 122px;
			@extend %sfproDisplay-bold;
			font-size: 20px;
			line-height: 24px;
		}

		.menu__item {
			display: inline-block;

			&+.menu__item {
				margin-left: 50px;
			}
		}

	}

	.header__box {
		display: flex;
		align-items: center;
	}

	.header__adress {
		position: relative;
		padding-left: 20px;
		margin-right: 60px;
		width: 265px;

		&::before {
			position: absolute;
			content: "\e902";
			font-family: "icomoon";
			left: 0;
			top: -2px;
		}
	}

	.user-list {
		display: flex;
		align-items: center;
		margin-right: 15px;
	}

	.user-list__item {
		margin-right: 10px;
	}

	.basket {
		position: relative;

		&__num {
			position: absolute;
			width: 20px;
			height: 20px;
			background-color: $blue;
			border-radius: 50%;
			@extend %sfproDisplay-medium;
			font-size: 10px;
			line-height: 20px;
			color: #fff;
			text-align: center;
			bottom: -6px;
			right: -15px;
		}
	}

	/* end header__top */

	/* start header__bottom */
	.header__bottom {
		margin-bottom: 80px;

		.menu-categories {
			background-color: $silver;
			display: flex;
			justify-content: space-around;
			align-items: center;
			min-height: 53px;

			&__item {
				position: relative;
			}

			&__link {
				transition: all .5s;
				padding: 15px 0 14px;
				position: relative;

				&:hover {
					color: #000;
				}

				&::before {
					position: absolute;
					content: "";
					width: 0;
					height: 3px;
					left: auto;
					right: 0;
					background-color: $blue;
					bottom: -2px;
					transition: all .5s;
				}

				&:hover::before {
					width: 100%;
					right: auto;
					left: 0;
				}
			}
		}
	}

	/* end header__bottom */

	/* start section banner-section */
	.banner-section {
		&__inner {
			display: flex;
			justify-content: space-between;
		}

		&__slider {
			max-width: 870px;

			&-btn {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				background-color: transparent;
				border: none;
				margin: 0;
				padding: 0;
				z-index: 5;
				cursor: pointer;
			}

			&-btnprev {
				left: 20px;
			}

			&-btnnext {
				right: 20px;
			}

			.slick-dots {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 40px;
				text-align: center;
			}

			.slick-dots li {
				display: inline-block;
				padding: 0 5px;
			}

			.slick-dots button {
				margin: 0;
				padding: 0;
				font-size: 0;
				width: 11px;
				height: 11px;
				border: 1px solid #FFFFFF;
				border-radius: 50%;
				background-color: transparent;
			}

			.slick-active button {
				background-color: #fff;
			}
		}

		.sale-item {
			max-width: 265px;
			text-align: center;
			border: 1px solid #CDCDCD;
			border-radius: 3px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&__top {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
			}

			&__info {
				padding: 8px 20px;
				color: #fff;
				text-transform: uppercase;
				background-color: $blue;
				font-size: 12px;
			}

			&__price {
				@extend %barlow-bold;
				text-align: right;


				&-new {
					font-size: 27px;
					line-height: 32px;
					color: $blue;
					margin-right: 6px;
					padding-right: 20px;
					position: relative;

					&::after {
						position: absolute;
						content: "";
						background-image: url("../images/icons-price.svg");
						background-repeat: no-repeat;
						width: 15px;
						height: 16px;
						right: 0;
						top: 9px;
					}
				}

				&-old {
					display: inline-block;
					margin-right: 15px;
					padding: 2px 5px;
					@extend %barlow-regular;
					font-size: 14px;
					line-height: 17px;
					color: $gray;
					position: relative;
					background-image: url("../images/old-line.svg");
					background-repeat: no-repeat;

					&::after {
						position: absolute;
						content: "";
						background-image: url("../images/icons-price-old.svg");
						background-repeat: no-repeat;
						width: 8px;
						height: 10px;
						right: -10px;
						top: 6px;
					}
				}
			}

			img {
				object-fit: contain;
			}

			&__title {
				@extend %sfproDisplay-bold;
				font-size: 18px;
				line-height: 21px;
				margin-bottom: 7px;
			}

			&__footer {
				padding: 25px 20px;
				background-color: #F0F0F4;
				@extend %sfproDisplay-regular;
				font-size: 18px;
				line-height: 21px;

				span {
					display: block;
					@extend %barlow-bold;
					color: $blue;
				}
			}
		}
	}

	/* end section banner-section */

	/* start section search */
	.search {

		&__tabs.tabs {
			margin-bottom: 25px;
		}

		&__tabs-item {
			padding: 11px 26px 12px;
		}

		&__tabs-item.tab--active {
			background-color: $silver;
			border-radius: 5px;
			font-weight: 700;
		}

		&__content-item {
			display: none;
		}

		&__content-item.tabs__content--active {
			display: block;
		}

		&__content-form {
			display: flex;
		}

		&__content-input {
			background-color: $silver;
			border-radius: 3px;
			border: none;
			padding: 5px 20px;
			width: 100%;
			font-size: 16px;
			line-height: 19px;

			&::placeholder {
				color: #656464;

			}
		}

		&__content-btn {
			margin-left: -3px;
			padding: 17px 41px;
			@extend %sfproDisplay-bold;
			font-size: 14px;
			line-height: 17px;
			letter-spacing: 0.12em;
			text-transform: uppercase;
			color: #fff;
			background-color: $blue;
			border: none;
			border-radius: 3px;
		}
	}

	/* end section search */

	/* start section categories */
	.categoties {
		&__inner {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		&__item {
			max-width: 370px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;
			border: 1px solid #CDCDCD;
			border-radius: 3px;
			padding: 20px 20px 16px;
			transition: all .3s;

			&:hover {
				box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
				border: 1px solid #fff;

				.categoties__item-title {
					color: $blue;
				}
			}

			&-info {
				width: 50%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

			&-title {
				@extend %barlow-bold;
				font-size: 23px;
				line-height: 28px;
				color: #2F3035;
				transition: all .3s;
			}

			&-text {
				@extend %sfproDisplay-regular;
				font-size: 14px;
				line-height: 17px;
				color: $gray;
				padding-right: 10px;
				display: inline-block;

				&::after {
					content: url(../images/link-arrow.svg);
					padding-left: 2px;
				}
			}

			&-img {
				text-align: center;
				width: 50%;

				img {
					max-width: 100%;
				}
			}

		}
	}

	/* end section categories */

	/* start section products */
	.products {
		&__title {
			@extend %barlow-bold;
			font-size: 25px;
			line-height: 30px;
			margin-bottom: 25px;
		}

		&__tabs {
			margin-bottom: 25px;
		}

		&__tab {
			@extend %sfproDisplay-medium;
			font-size: 15px;
			line-height: 18px;
			padding-bottom: 10px;

			&+.products__tab {
				margin-left: 50px;
			}

			&.tab--active {
				border-bottom: 2px solid $blue;
			}
		}

		.product__slider {
			&-btn {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				background-color: transparent;
				border: none;
				margin: 0;
				padding: 0;
				z-index: 5;
				cursor: pointer;
			}

			&-btnprev {
				left: -30px;
			}

			&-btnnext {
				right: -20px;
			}

			.slick-slide img {
				display: inline;
			}
		}
	}

	.tabs__content {
		display: none;
	}

	.tabs__content.tabs__content--active {
		display: block;
	}

	.product__wrapper {
		width: 271px;
		position: relative;


		&.product-item__not-available {
			.product-item__price {
				display: none;
			}

			.product-item__notify-text {
				display: block;
				color: #2F3035;
			}

			.product-item__title {
				padding: 14px 0 10px;
			}

			.product-item__basket {
				display: none;
			}

			.product-item__notify-link {
				display: block;
				position: absolute;
				font-size: 16px;
				line-height: 19px;
				text-decoration: underline;
				color: $blue;
				bottom: 25px;
				left: 0;
				right: 0;
				text-align: center;
			}
		}
	}

	.product-item {
		width: 100%;
		min-height: 413px;
		height: 100%;
		border: 1px solid #CDCDCD;
		border-radius: 3px;
		text-align: center;
		padding: 52px 20px 31px;
		transition: all .3s;

		&--sale {
			&:before {
				position: absolute;
				content: "SALE";
				padding: 8px 15px;
				background-color: $blue;
				color: #fff;
				top: 1px;
				left: 1px;
				text-transform: uppercase;
				font-size: 12px;
				line-height: 14px;
				letter-spacing: 0.07em;
			}
		}

		&__favorite {
			position: absolute;
			top: 16px;
			right: 19px;
			width: 24px;
			height: 22px;
			background-color: transparent;
			border: none;
			outline: none;

			&::before {
				position: absolute;
				content: "";
				width: 24px;
				height: 22px;
				top: 0;
				left: 0;
				background-image: url("../images/favorite.svg");
			}

			&--active::before {
				background-image: url("../images/favorite-active.svg")
			}
		}



		&__hover-text {
			display: inline-block;
			padding: 18px 21px;
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
			border-radius: 3px;
			background-color: rgba($color: #fff, $alpha: .9);
			position: absolute;
			top: 30%;
			opacity: 0;
			transition: all .3s;
		}

		&:hover {
			box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
			color: $blue;

			.product-item__hover-text {
				opacity: 1;
				color: #2F3035;
			}
		}

		&__title {
			font-weight: normal;
			padding: 14px 0 25px;
			font-size: 18px;
		}

		&__price {
			@extend %barlow-bold;
			font-size: 30px;
			line-height: 36px;
		}

		&__notify-text {
			display: none;
			@extend %sfproDisplay-bold;
			font-size: 18px;
			line-height: 21px;
		}

		&__notify-link {
			display: none;
		}

		&__basket {
			position: absolute;
			width: 60px;
			height: 40px;
			border: none;
			border-radius: 10px 0px 0px;
			background-color: $blue;
			bottom: 0;
			right: 0;
			padding-top: 7px;
			cursor: pointer;
		}
	}

	.product-more {
		margin-top: 35px;
		text-align: center;
	}

	.product-more__link {
		background-color: $silver;
		padding: 15px 43px;
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0.12em;
		text-transform: uppercase;
	}

	/* end section products */
	/* section footer */
	.footer {
		background-color: $silver;

		&__top {
			padding-top: 43px;

			&-inner {
				display: flex;
				justify-content: space-between;
			}

			&-title {
				@extend %sfproDisplay-bold;
				font-size: 14px;
				line-height: 17px;
				color: #2F3035;
			}

			&-newslatter {
				width: 295px;
				margin-right: 50px;
			}

			.footer-form {
				margin-top: 34px;
				display: flex;

				&__input {
					width: 200px;
					padding: 0 12px;
					background-color: #fff;
					border: none;
					line-height: 17px;
					font-size: 14px;

					&::placeholder {
						color: $gray;
					}
				}

				&__btn {
					margin-left: -3px;
					text-transform: uppercase;
					border: none;
					background-color: $blue;
					color: #fff;
					@extend %sfproDisplay-medium;
					font-size: 11px;
					line-height: 13px;
					letter-spacing: 0.12em;
					padding: 10px 16px;
				}
			}


		}

		&__list {
			font-size: 14px;
			line-height: 22px;

			&-item {
				width: 200px;
			}
		}

		&__top-social {
			width: 250px;

			.social-list {
				margin-top: 37px;
				display: flex;


				&__item {
					&+.social-list__item {
						margin-left: 30px;
					}
				}
			}
		}

		&__bottom {
			padding: 46px 0 27px;
			display: flex;
			justify-content: center;
		}

		&__bottom-link {
			font-size: 10px;
			line-height: 12px;

			&+.footer__bottom-link {
				margin-left: 80px;
			}
		}

	}

	/* end section footer */

	/* breadcrumps */
	.breadcrumps {
		&__list-item {
			display: inline-block;
			padding-right: 15px;
			margin-right: 10px;
			position: relative;
			font-size: 15px;
			line-height: 18px;
			color: $gray;

			&::after {
				position: absolute;
				content: "";
				background-image: url("../images/link-arrow.svg");
				width: 6px;
				height: 10px;
				right: 0;
				bottom: 4px;
			}

			&:last-child::after {
				display: none;
			}
		}
	}

	/* end breadcrumps */