	/* start header__top */
	.header__top {
		&-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			min-height: 122px;
			@extend %sfproDisplay-bold;
			font-size: 20px;
			line-height: 24px;
		}

		.menu__btn {
			display: none;
			padding: 0;
		}

		.menu__item {
			display: inline-block;

			&+.menu__item {
				margin-left: 50px;
			}
		}

	}

	.header__box {
		display: flex;
		align-items: center;
	}

	.header__adress {
		position: relative;
		padding-left: 30px;
		margin-right: 60px;
		width: 265px;

		&::before {
			position: absolute;
			content: "";
			background-image: url("../images/location.svg");
			width: 30px;
			height: 30px;
			left: 0;
			top: -2px;
		}
	}

	.user-list {
		display: flex;
		align-items: center;
		margin-right: 15px;
	}

	.user-list__item {
		margin-right: 10px;
	}

	.favorite {
		background-image: url("../images/favorite.svg");
		width: 24px;
		height: 22px;
	}

	.user {
		background-image: url("../images/user.svg");
		width: 24px;
		height: 24px;
	}

	.basket {
		position: relative;
		background-image: url("../images/basket.svg");
		background-repeat: no-repeat;
		width: 30px;
		height: 23px;

		&__num {
			position: absolute;
			width: 20px;
			height: 20px;
			background-color: $blue;
			border-radius: 50%;
			@extend %sfproDisplay-medium;
			font-size: 10px;
			line-height: 20px;
			color: #fff;
			text-align: center;
			bottom: -6px;
			right: -15px;
		}
	}

	/* end header__top */
	.menu-mobile__list {
		display: none;
		width: 243px;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
		transform: translateX(-100%);
		transition: all .3s;
		position: absolute;
		background-color: #fff;
	}

	.menu-mobile__list--active {
		transform: translateX(0%);
	}

	.menu-mobile__item {
		position: relative;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	.menu-mobile__link {
		display: block;
		padding-left: 53px;
		padding-top: 36px;

		span {
			display: block;
		}
	}

	.menu-mobile__img {
		position: absolute;
		left: 11px;
		bottom: 0;

	}



	.menu-mobile__linewrapper {
		display: none;
		background-color: #F0F0F4;
		padding: 14px 15px 14px;
		overflow-x: scroll;

		& .menu-mobile__line {
			width: 450px;
		}

		& .menu__item {
			display: inline-block;
			margin-right: 15px;
			@extend %sfproDisplay-bold;
			font-size: 20px;
			line-height: 24px;

		}
	}

	/* start header__bottom */
	.header__bottom {
		margin-bottom: 80px;

		.menu-categories {
			background-color: $silver;
			display: flex;
			justify-content: space-around;
			align-items: center;
			min-height: 53px;

			&__item {
				position: relative;
			}

			&__link {
				transition: all .5s;
				padding: 15px 0 14px;
				position: relative;

				&:hover {
					color: #000;
				}

				&::before {
					position: absolute;
					content: "";
					width: 0;
					height: 3px;
					left: auto;
					right: 0;
					background-color: $blue;
					bottom: -2px;
					transition: all .5s;
				}

				&:hover::before {
					width: 100%;
					right: auto;
					left: 0;
				}
			}
		}
	}

	/* end header__bottom */

	/* start section banner-section */
	.banner-section {
		&__inner {
			display: flex;
			justify-content: space-between;
		}

		&__slider {
			max-width: 870px;

			&-btn {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				background-color: transparent;
				border: none;
				margin: 0;
				padding: 0;
				z-index: 5;
				cursor: pointer;
			}

			&-btnprev {
				left: 20px;
			}

			&-btnnext {
				right: 20px;
			}

			.slick-dots {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 40px;
				text-align: center;
			}

			.slick-dots li {
				display: inline-block;
				padding: 0 5px;
			}

			.slick-dots button {
				margin: 0;
				padding: 0;
				font-size: 0;
				width: 11px;
				height: 11px;
				border: 1px solid #FFFFFF;
				border-radius: 50%;
				background-color: transparent;
			}

			.slick-active button {
				background-color: #fff;
			}
		}

		.sale-item {
			max-width: 265px;
			text-align: center;
			border: 1px solid #CDCDCD;
			border-radius: 3px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&__top {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
			}

			&__info {
				padding: 8px 20px;
				color: #fff;
				text-transform: uppercase;
				background-color: $blue;
				font-size: 12px;
			}

			&__price {
				@extend %barlow-bold;
				text-align: right;


				&-new {
					font-size: 27px;
					line-height: 32px;
					color: $blue;
					margin-right: 6px;
					padding-right: 20px;
					position: relative;

					&::after {
						position: absolute;
						content: "";
						background-image: url("../images/icons-price.svg");
						background-repeat: no-repeat;
						width: 15px;
						height: 16px;
						right: 0;
						top: 9px;
					}
				}

				&-old {
					display: inline-block;
					margin-right: 15px;
					padding: 2px 5px;
					@extend %barlow-regular;
					font-size: 14px;
					line-height: 17px;
					color: $gray;
					position: relative;
					background-image: url("../images/old-line.svg");
					background-repeat: no-repeat;

					&::after {
						position: absolute;
						content: "";
						background-image: url("../images/icons-price-old.svg");
						background-repeat: no-repeat;
						width: 8px;
						height: 10px;
						right: -10px;
						top: 6px;
					}
				}
			}

			img {
				object-fit: contain;
			}

			&__title {
				@extend %sfproDisplay-bold;
				font-size: 18px;
				line-height: 21px;
				margin-bottom: 7px;
			}

			&__footer {
				padding: 25px 20px;
				background-color: #F0F0F4;
				@extend %sfproDisplay-regular;
				font-size: 18px;
				line-height: 21px;

				span {
					display: block;
					@extend %barlow-bold;
					color: $blue;
				}
			}
		}
	}

	/* end section banner-section */

	/* start section search */
	.search {

		&__tabs.tabs {
			margin-bottom: 25px;
		}

		&__tabs-item {
			padding: 11px 26px 12px;
		}

		&__tabs-item.tab--active {
			background-color: $silver;
			border-radius: 5px;
			font-weight: 700;
		}

		&__content-item {
			display: none;
		}

		&__content-item.tabs__content--active {
			display: block;
		}

		&__content-form {
			display: flex;
		}

		&__content-input {
			background-color: $silver;
			border-radius: 3px;
			border: none;
			padding: 5px 20px;
			width: 100%;
			font-size: 16px;
			line-height: 19px;

			&::placeholder {
				color: #656464;

			}
		}

		&__content-btn {
			margin-left: -3px;
			padding: 17px 41px;
			@extend %sfproDisplay-bold;
			font-size: 14px;
			line-height: 17px;
			letter-spacing: 0.12em;
			text-transform: uppercase;
			color: #fff;
			background-color: $blue;
			border: none;
			border-radius: 3px;
		}
	}

	/* end section search */

	/* start section categories */
	.categoties {
		&__inner {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		&__item {
			max-width: 370px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;
			border: 1px solid #CDCDCD;
			border-radius: 3px;
			padding: 20px 20px 16px;
			transition: all .3s;

			&:hover {
				box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
				border: 1px solid #fff;

				.categoties__item-title {
					color: $blue;
				}
			}

			&-info {
				width: 50%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

			&-title {
				@extend %barlow-bold;
				font-size: 23px;
				line-height: 28px;
				color: #2F3035;
				transition: all .3s;
			}

			&-text {
				@extend %sfproDisplay-regular;
				font-size: 14px;
				line-height: 17px;
				color: $gray;
				padding-right: 10px;
				display: inline-block;

				&::after {
					content: url(../images/link-arrow.svg);
					padding-left: 2px;
				}
			}

			&-img {
				text-align: center;
				width: 50%;

				img {
					max-width: 100%;
				}
			}

		}
	}

	/* end section categories */

	/* start section products */
	.products {
		&__title {
			@extend %barlow-bold;
			font-size: 25px;
			line-height: 30px;
			margin-bottom: 25px;
		}

		&__tabs {
			margin-bottom: 25px;
		}

		&__tab {
			@extend %sfproDisplay-medium;
			font-size: 15px;
			line-height: 18px;
			padding-bottom: 10px;

			&+.products__tab {
				margin-left: 50px;
			}

			&.tab--active {
				border-bottom: 2px solid $blue;
			}
		}

		.product__slider {
			&-btn {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				background-color: transparent;
				border: none;
				margin: 0;
				padding: 0;
				z-index: 5;
				cursor: pointer;
			}

			&-btnprev {
				left: -30px;
			}

			&-btnnext {
				right: -20px;
			}

			.slick-slide img {
				display: inline;
			}
		}
	}

	.tabs__content {
		display: none;
	}

	.tabs__content.tabs__content--active {
		display: block;
	}

	.product__wrapper {
		width: 271px;
		position: relative;


		&.product-item__not-available {
			.product-item__price {
				display: none;
			}

			.product-item__notify-text {
				display: block;
				color: #2F3035;
			}

			.product-item__title {
				padding: 14px 0 10px;
			}

			.product-item__basket {
				display: none;
			}

			.product-item__notify-link {
				display: block;
				position: absolute;
				font-size: 16px;
				line-height: 19px;
				text-decoration: underline;
				color: $blue;
				bottom: 25px;
				left: 0;
				right: 0;
				text-align: center;
			}
		}
	}

	.product-item {
		width: 100%;
		min-height: 413px;
		height: 100%;
		border: 1px solid #CDCDCD;
		border-radius: 3px;
		text-align: center;
		padding: 52px 20px 31px;
		transition: all .3s;

		&--sale {
			&:before {
				position: absolute;
				content: "SALE";
				padding: 8px 15px;
				background-color: $blue;
				color: #fff;
				top: 1px;
				left: 1px;
				text-transform: uppercase;
				font-size: 12px;
				line-height: 14px;
				letter-spacing: 0.07em;
			}
		}

		&__favorite {
			position: absolute;
			top: 16px;
			right: 19px;
			width: 24px;
			height: 22px;
			background-color: transparent;
			border: none;
			outline: none;

			&::before {
				position: absolute;
				content: "";
				width: 24px;
				height: 22px;
				top: 0;
				left: 0;
				background-image: url("../images/favorite.svg");
			}

			&--active::before {
				background-image: url("../images/favorite-active.svg")
			}
		}



		&__hover-text {
			display: inline-block;
			padding: 18px 21px;
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
			border-radius: 3px;
			background-color: rgba($color: #fff, $alpha: .9);
			position: absolute;
			top: 30%;
			opacity: 0;
			transition: all .3s;
		}

		&:hover {
			box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
			color: $blue;

			.product-item__hover-text {
				opacity: 1;
				color: #2F3035;
			}
		}

		&__img {
			max-width: 100%;
		}

		&__title {
			font-weight: normal;
			padding: 14px 0 25px;
			font-size: 18px;
		}

		&__price {
			@extend %barlow-bold;
			font-size: 30px;
			line-height: 36px;
		}

		&__notify-text {
			display: none;
			@extend %sfproDisplay-bold;
			font-size: 18px;
			line-height: 21px;
		}

		&__notify-link {
			display: none;
		}

		&__basket {
			position: absolute;
			width: 60px;
			height: 40px;
			border: none;
			border-radius: 10px 0px 0px;
			background-color: $blue;
			bottom: 0;
			right: 0;
			padding-top: 7px;
			cursor: pointer;
		}
	}

	.product-more {
		margin-top: 35px;
		text-align: center;
	}

	.product-more__link {
		background-color: $silver;
		padding: 15px 43px;
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0.12em;
		text-transform: uppercase;
	}

	/* end section products */
	/* section footer */
	.footer {
		background-color: $silver;

		&__top {
			padding-top: 43px;

			&-inner {
				display: flex;
				justify-content: space-between;
			}

			&-title {
				@extend %sfproDisplay-bold;
				font-size: 14px;
				line-height: 17px;
				color: #2F3035;
			}

			&-newslatter {
				width: 295px;
				margin-right: 50px;
			}

			.footer-form {
				margin-top: 34px;
				display: flex;

				&__input {
					width: 200px;
					padding: 0 12px;
					background-color: #fff;
					border: none;
					line-height: 17px;
					font-size: 14px;

					&::placeholder {
						color: $gray;
					}
				}

				&__btn {
					margin-left: -3px;
					text-transform: uppercase;
					border: none;
					background-color: $blue;
					color: #fff;
					@extend %sfproDisplay-medium;
					font-size: 11px;
					line-height: 13px;
					letter-spacing: 0.12em;
					padding: 10px 16px;
				}
			}


		}

		&__list {
			font-size: 14px;
			line-height: 22px;

			&-item {
				width: 200px;
			}
		}

		&__top-social {


			.social-list {
				margin-top: 37px;
				display: flex;


				&__item {
					&+.social-list__item {
						margin-left: 30px;
					}
				}
			}
		}

		&__bottom {
			padding: 46px 0 27px;
			display: flex;
			justify-content: center;
		}

		&__bottom-link {
			font-size: 10px;
			line-height: 12px;

			&+.footer__bottom-link {
				margin-left: 80px;
			}
		}

	}

	/* end section footer */

	/* breadcrumps */
	.breadcrumps {
		&__list-item {
			display: inline-block;
			padding-right: 15px;
			margin-right: 10px;
			position: relative;
			font-size: 15px;
			line-height: 18px;
			color: $gray;

			&::after {
				position: absolute;
				content: "";
				background-image: url("../images/link-arrow.svg");
				background-repeat: no-repeat;
				width: 6px;
				height: 10px;
				right: 0;
				bottom: 4px;
			}

			&:last-child::after {
				display: none;
			}
		}
	}

	/* end breadcrumps */

	/* catalog */
	.catalog {
		margin-bottom: 100px;

		&__title {
			@extend %sfproDisplay-bold;
			font-size: 30px;
			line-height: 36px;
		}

		&__filter {
			margin-top: 26px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 26px;

			&-item {
				&+.catalog__filter-item {
					margin-left: 8px;
				}

				font-size: 14px;
				line-height: 17px;
				padding: 4px 22px;
				border: none;
				background-color: $silver;
				border-radius: 3px;
				cursor: pointer;
			}

			&-btn {
				display: flex;
				align-items: center;
			}

			&-btn button {
				background-color: transparent;
				border: none;
				cursor: pointer;
				margin: 0;
				padding: 0;

				&+button {
					margin-left: 10px;
					width: 25px;
					height: 19px;
				}
			}

		}

		.catalog__filter-button {
			opacity: 0.3;
		}

		.catalog__filter-button--active {
			opacity: 1;
		}

		.catalog__filter-btngrid {
			width: 26px;
			height: 21px;
		}



		.select-item {
			margin-right: 34px;
			width: 178px;
			border: 1px solid #d7d9df;
			font-size: 14px;
			line-height: 17px;

			.jq-selectbox__select {
				background: transparent;
				box-shadow: none;
				border: none;
				text-shadow: none;
				padding: 0 25px 0 20px;
			}

			.jq-selectbox__trigger-arrow {
				position: absolute;
				border: none;
				background-image: url("../images/arrow-down.svg");
				width: 12px;
				height: 8px;
			}

			.jq-selectbox__trigger {
				border-left: none;
			}
		}

		&__inner {
			display: flex;

			&-aside {
				max-width: 290px;
				width: 100%;
				margin-right: 10px;
			}

			&-list {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;


				.product__wrapper {
					margin-bottom: 30px;
				}

			}
		}
	}

	.product__wrapper.product__wrapper--list {
		width: 100%;
	}

	.aside-filter {
		&__tabs {
			display: flex;
			justify-content: space-between;

		}

		&__tab {
			font-size: 16px;
			line-height: 19px;
			letter-spacing: 0.09em;
			text-transform: uppercase;
			color: $gray;
			width: 50%;

			span {
				padding-bottom: 7px;
			}

			&.tab--active {
				font-weight: 700;
				color: #2F3035;

				span {
					border-bottom: 2px solid $blue;
				}
			}
		}
	}

	.pagination {
		width: 100%;
		margin-top: 75px;

		&-list {
			display: flex;
			justify-content: center;
		}

		&-list__item {
			padding: 6px 12px;
			border: 2px solid transparent;
			margin: 0 4px;
			font-size: 18px;
			line-height: 22px;

			color: $gray;

			&.active {
				border: 2px solid #1C62CD;
				color: $blue;
			}

			a {
				display: block;
			}
		}
	}

	.aside-filter__item-drop {
		margin: 40px 0;
	}

	.aside-filter__item-title {
		@extend %sfproDisplay-medium;
		font-size: 16px;
		line-height: 19px;
		padding-left: 26px;
	}

	.filter__item-drop {
		cursor: pointer;
		position: relative;

		&::before {
			position: absolute;
			content: "";
			background-image: url("../images/arrow-down.svg");
			width: 12px;
			height: 8px;
			left: 0;
			bottom: 5px;
			transform: rotate(0deg);
		}

		&--active::before {
			transform: rotate(180deg);
		}
	}

	.aside-filter__content {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;


		&-box {
			width: 50%;
			margin-bottom: 10px;
		}

		&-label {
			cursor: pointer;
			font-size: 14px;
			line-height: 17px;
		}
	}

	.jq-checkbox,
	.jq-radio {
		width: 14px;
		height: 14px;
		border: 1px solid $gray;
		border-radius: 1px;
		box-shadow: none;
		background: #fff;
		vertical-align: -2px;
		margin: 0 8px 0 0;
	}

	.jq-checkbox.checked,
	.jq-radio.checked {
		background: $blue;
		border: none;
	}

	.jq-checkbox.checked .jq-checkbox__div {
		width: 8px;
		height: 6px;
		margin: 4px 0 0 3px;
		border-bottom: none;
		border-left: none;
		transform: rotate(0);
		background-image: url("../images/cheked-icon.svg");
	}

	.jq-radio.checked .jq-radio__div {
		width: 0;
		height: 0;
		margin: 0;
		border-radius: none;
		background: transparent;
		box-shadow: none;
	}

	.aside-filter__content.aside-filter__content-radio {
		flex-wrap: nowrap;
	}

	.irs--flat {
		width: 100%;
		margin-top: -15px;
	}

	.irs-from,
	.irs-to {
		display: none;
	}

	.irs--flat .irs-max,
	.irs--flat .irs-min {
		top: 60px;
		padding: 0;
		@extend %barlow-regular;
		font-size: 14px;
		line-height: 17px;
		text-decoration-line: underline;
		color: #2F3035;
		text-shadow: none;
		background-color: transparent;
		border-radius: 0;
		visibility: visible !important;
		padding-left: 27px;

	}

	.irs-min::before {
		content: "от";
		position: absolute;
		@extend %sfproDisplay-regular;
		font-size: 14px;
		line-height: 17px;
		color: #C4C4C4;
		padding-right: 5px;
		left: 0;
	}

	.irs-max::before {
		content: "до";
		position: absolute;
		@extend %sfproDisplay-regular;
		font-size: 14px;
		line-height: 17px;
		color: #C4C4C4;
		padding-right: 5px;
		left: 0;
	}


	.irs--flat .irs-line {
		top: 25px;
		height: 1px;
		background-color: #E0E0E0;
		border-radius: 4px;
	}

	.irs--flat .irs-bar {
		top: 24px;
		height: 3px;
		background-color: $blue;
	}

	.irs--flat .irs-handle {
		top: 22px;
		width: 8px;
		height: 8px;
		background-color: $blue;
		border-radius: 50%;
	}

	.irs--flat .irs-handle>i:first-child {
		display: none;
	}

	.aside-filter__item-list {
		margin: 80px 0 40px;

	}

	.filter__item-list {
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid #C4C4C4;
		margin-bottom: 26px;
	}

	.filter__item-listtitle {
		@extend %sfproDisplay-medium;
		font-size: 16px;
		line-height: 19px;
		padding-bottom: 14px;
		padding-left: 26px;
	}

	.filter-style.filter__item-listselect {
		.jq-selectbox__select {
			height: 32px;
			padding: 0 30px 0 10px;
			border: none;
			border-radius: 0;
			background: transparent;
			box-shadow: none;
			text-shadow: none;
			@extend %barlow-regular;
			font-size: 14px;
			line-height: 17px;
			color: #48494D;
		}

		.jq-selectbox__trigger {
			border-left: none;
			background-image: url(../images/arrow-down.svg);
			width: 12px;
			height: 8px;
			top: 6px;
			right: 9px;
		}

		.jq-selectbox__trigger-arrow {
			border: none;
		}

		.jq-selectbox__select:hover,
		.jq-selectbox__select:active {
			background: transparent;
			box-shadow: none;
		}


	}

	.jq-selectbox li {
		@extend %barlow-regular;
	}

	.jq-selectbox li:hover {
		background-color: rgba(107, 126, 172, 0.05);
		color: rgba(0, 0, 0, 0.6);
	}

	.jq-selectbox li.selected {
		background-color: rgba(107, 126, 172, 0.05);
		color: rgba(0, 0, 0, 0.6);
	}

	.jq-selectbox__dropdown {
		border-radius: 0;
		padding-top: 15px;
		margin: -5px 0 0;
	}

	.filter-more {
		width: 100%;
	}

	.filter-more__btn {

		font-size: 14px;
		line-height: 17px;
		color: $blue;
		padding: 0;
		border: none;
		background: transparent;
		border-bottom: 1px solid $blue;
	}

	.filter-search {
		width: 100%;
		padding: 8px 20px;
		margin-bottom: 20px;
		margin-top: 10px;
		font-size: 12px;
		line-height: 14px;
		border: 1px solid #E0E0E0;

		&::placeholder {
			color: #BDBEC2;
		}
	}

	.btn-checked {
		.aside-filter__content {
			flex-wrap: nowrap;
			justify-content: space-between;
		}

		.aside-filter__content-box {
			width: auto;

		}

		.aside-filter__content-label {
			position: relative;

			height: 25px;
			width: 63px;
		}

		.jq-checkbox {
			width: 63px;
			height: 25px;
			background: #F0F0F4;
		}

		.jq-checkbox.checked {
			background: $blue;
			color: #fff;
		}

		.jq-checkbox.checked~.btn-checked__text {
			color: #fff;
		}

		.jq-checkbox.checked .jq-checkbox__div {
			display: none;
		}


		.btn-checked__text {
			position: absolute;
			top: -5px;
			z-index: 5;
			left: 50%;
			transform: translateX(-57%);
			@extend %sfproDisplay-bold;
			font-size: 12px;
			line-height: 14px;
			letter-spacing: 0.07em;
			color: #C4C4C4;
		}
	}

	.aside-filter__item-btn {
		text-align: center;
	}

	.filter-btn__send {
		margin-bottom: 15px;
		padding: 16px 85px;
		background-color: $silver;
		border: none;
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		color: #BDBEC2;
		cursor: pointer;

		&--active {
			background-color: $blue;
			color: #fff;
		}
	}

	.filter-extra {
		display: inline-block;
		font-size: 13px;
		line-height: 16px;
		padding-right: 29px;
		position: relative;
		margin-bottom: 15px;
		cursor: pointer;

		&::after {
			position: absolute;
			content: "";
			background-image: url("../images/arrow-down.svg");
			width: 12px;
			height: 8px;
			right: 0;
			top: 4px;
		}

		&.filter__item-drop--active::after {
			transform: rotate(180deg);
		}
	}

	.filter-extra__content {
		display: none;
	}

	.filter-btn__reset {
		background-color: transparent;
		border: none;
		color: #C4C4C4;
		font-size: 13px;
		line-height: 16px;
		border-bottom: 1px solid #c4c4c4;
		padding: 0;
	}

	/* end catalog */

	/* start product-card */
	.product-card {
		margin-bottom: 80px;



		&__inner {
			display: flex;
			justify-content: space-between;
		}

		&__img-box {
			max-width: 500px;
			width: 100%;
			padding-top: 64px;
			text-align: center;
			position: relative;

			&::before {
				font-size: 15px;
				line-height: 18px;
				letter-spacing: 0.12em;
				padding: 13px 25px;
				border-radius: 3px;
			}
		}

		&__content {
			max-width: 570px;
			width: 100%;
		}

		&__price-old {
			margin-top: 17px;
			margin-bottom: 0;
			@extend %barlow-regular;
			font-size: 30px;
			line-height: 41px;
			opacity: 0.6;
			display: inline-block;
			background-image: url("../images/old-line.svg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		&__price-new {
			@extend %barlow-bold;
			font-size: 40px;
			line-height: 48px;
			margin-bottom: 18px;
		}

		&__link {
			font-size: 15px;
			line-height: 18px;
			color: $blue;
		}


	}

	.product-card__content-title {
		@extend %sfproDisplay-bold;
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 10px;
	}

	.product-card__code {
		font-size: 15px;
		line-height: 18px;
		opacity: .6;
		margin-bottom: 25px;
	}

	.product-card__buttons {
		margin-bottom: 50px;
	}

	.product-card__tabs {
		display: flex;

	}

	.product-card__tab {
		margin-right: 34px;
		font-size: 20px;
		line-height: 24px;
		opacity: 0.6;
		padding-bottom: 5px;
		margin-bottom: 20px;
	}

	.product-card__tab.tab--active {
		font-weight: bold;
		color: #2F3035;
		opacity: 1;

		border-bottom: 2px solid $blue;
	}

	.product-card__item {

		display: flex;
		justify-content: space-between;
		font-size: 20px;
		line-height: 24px;
		padding-bottom: 6px;
		border-bottom: 1px solid rgba(#2F3035, .1);
		margin-bottom: 15px;
	}

	.product-card__right {
		padding-left: 15px;
		width: 125px;
	}

	.product-card__more {
		margin-top: 20px;
		font-size: 14px;
		line-height: 17px;
		color: $blue;
		border-bottom: 1px solid $blue;
	}

	.product-card__btn {
		margin-top: 45px;
		display: block;
		padding: 15px 43px;

		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		color: #fff;
		background-color: $blue;
		border: none;
		border-radius: 3px;
		cursor: pointer;
	}

	.product-card__buttons a+a {
		margin-left: 30px;
	}

	.card__tab-box {
		display: flex;
		justify-content: space-around;
		align-items: center;
		background: #F0F0F4;
		padding: 22px 0;
		margin-bottom: 50px;
	}

	.card__tab {
		font-size: 20px;
		line-height: 24px;
		opacity: 0.6;
		padding-bottom: 5px;
	}

	.card__tab.tab--active {
		border-bottom: 2px solid $blue;
		opacity: 1;
	}

	.card__top-line {
		margin-bottom: 10px;


	}

	.card__label-search {
		font-size: 17px;
		line-height: 20px;
		color: rgba(#2F3035, .7);

	}

	.card__input-search {
		margin-left: 17px;
		background: #F0F0F4;
		border-radius: 3px;
		border: none;
		padding: 9px 37px 9px 17px;
		margin-right: 100px;
	}

	.card__label-pickup {
		margin-left: 54px;
		font-size: 17px;
		line-height: 20px;
		color: rgba(#2F3035, .7);
	}

	.card__list {
		margin-top: 50px;
		margin-bottom: 100px;
	}

	.card__list-item {
		padding: 20px 0;
		border-bottom: 1px solid rgba(#2F3035, .1);
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 22px;
		color: rgba(#2F3035, .7);
	}

	.card__list-itemtitle {
		font-size: 20px;
		line-height: 24px;
		color: #2F3035;
		border-bottom: none;
	}

	.card__list-address {
		width: 220px;
		margin-right: 80px;
	}

	.card__list-workhours {
		width: 157px;
		margin-right: 96px;

		.workhours {
			display: flex;
			justify-content: space-between;

		}
	}

	.card__list-aviable {
		width: 140px;
		margin-right: 60px;
	}

	.card__list-num {
		width: 104px;
	}

	.card__list-btn {
		margin-left: auto;

		button {
			border-radius: 3px;
			padding: 10px 40px;
			border: none;
			background-color: $blue;
			text-transform: uppercase;
			font-size: 13px;
			line-height: 16px;
			letter-spacing: 0.12em;
			color: #fff;
		}
	}

	/* end product-card */