@media (max-width: 1200px) {
	.banner-section__inner {
		justify-content: start;
	}

	.banner-section__slider {
		margin-right: 40px;
	}

	.banner__img {
		width: 100%;
	}

	.catalog__inner-list {
		justify-content: space-around;
	}
}

@media (max-width: 1100px) {
	.header__top .menu__item+.menu__item {
		margin-left: 20px;
	}

	.header__adress {
		margin-right: 20px;
	}
}

@media (max-width: 978px) {
	.footer__top-inner {
		flex-wrap: wrap;
		justify-content: space-around;
	}


	.catalog__filter-items,
	.tabs__wrapper,
	.breadcrumps__inner {
		overflow-x: scroll;
	}

	.mobile-overflow {
		width: 1000px;
	}

}

@media (max-width: 968px) {
	.page-bottom {
		overflow: hidden;
	}

	.header__bottom {
		display: none;
	}

	.menu__list {
		display: none;
	}

	.header__top .menu__btn {
		display: block;
		background-color: transparent;
		cursor: pointer;
		border: none;

		&-line {
			width: 34px;
			height: 3px;
			background-color: #2F3035;
			border-radius: 3px;
			margin: 8px 0;
		}
	}

	.menu-mobile__list {
		display: block;
	}

	.menu-mobile__linewrapper {
		display: block;
	}

}

@media (max-width: 866px) {
	.catalog__filter-btn button {
		display: none;
	}

	.catalog .select-item {
		margin-right: 0;
	}

	.aside-filter__tab span {
		margin-right: 15px;
	}

	.tabs__wrapper.tabs__wrapper--no-scroll {
		overflow-x: inherit;
	}
}

@media (max-width: 790px) {
	.footer__top-item {
		margin-bottom: 25px;
	}
}

@media (max-width: 768px) {


	.catalog__inner {
		flex-direction: column;
	}

	.catalog__filter {
		display: block;
	}

	.catalog .select-item {
		margin-top: 10px;
		margin-right: 0;
	}

}



@media (max-width: 640px) {
	.header__adress {
		display: none;
	}

	.banner {
		display: none;
	}

	.catalog__inner {
		flex-wrap: wrap;
	}
}

@media (max-width: 578px) {
	.aside-filter__btn {
		display: block;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		padding: 10px 0;
		margin-bottom: 20px;
		border-radius: 3px;
		background-color: $blue;
		color: #fff;
		font-weight: bold;
	}


	.catalog__inner-aside {
		display: none;
	}

	.catalog__inner-list {
		justify-content: center;
	}
}

@media (max-width: 540px) {


	.footer__top-item {
		width: 100%;
		border-bottom: 2px solid rgba(100, 100, 100, 0.205);
	}

	.footer__bottom {
		flex-direction: column;
		align-items: start;
	}

	.footer__bottom-link {
		margin: 12px 0;
	}

	.footer__bottom-link+.footer__bottom-link {
		margin: 0;
	}

	.footer__top-inner {
		justify-content: start;
	}

	.footer__top-newslatter {
		margin-right: 0;
		border-bottom: none;

		.footer__top-title {
			text-align: center;
		}

	}

	.footer__top-social .social-list {
		justify-content: center;

	}

	.footer__top-item.footer__top-social {
		border-bottom: none;
	}

	.footer__list {
		display: none;
	}

	.footer__top-title.footer__topdrop {
		padding: 15px 0;


		font-size: 14px;
		line-height: 18px;
		color: #7F7F7F;
		position: relative;

		&::after {
			position: absolute;
			content: "";
			background-image: url(../images/arrow-down.svg);
			width: 12px;
			height: 8px;
			right: 5px;
			bottom: 20px;
		}

		&--active::after {
			transform: rotate(180deg);
		}
	}

	.footer__top-itemdrop {
		margin-bottom: 0;
		border-top: 2px solid rgba(100, 100, 100, 0.205);

	}




}

@media (max-width: 360px) {
	.product__wrapper {
		width: 80%;
	}

	.catalog__inner-list {
		justify-content: start;
	}
}

@media (min-width: 579px) {
	.catalog__inner-aside {
		display: block;
	}
}