%sfproDisplay-bold {
	font-family: "SFProDisplay", sans-serif;
	font-weight: 700;
}

%sfproDisplay-semibold {
	font-family: "SFProDisplay", sans-serif;
	font-weight: 600;
}

%sfproDisplay-medium {
	font-family: "SFProDisplay", sans-serif;
	font-weight: 600;
}

%sfproDisplay-regular {
	font-family: "SFProDisplay", sans-serif;
	font-weight: 400;
}

%barlow-bold {
	font-family: "Barlow", sans-serif;
	font-weight: 700;
}

%barlow-regular {
	font-family: "Barlow", sans-serif;
	font-weight: 400;
}

$blue: #1C62CD;
$silver: #F0F0F4;
$gray: #C4C4C4;