<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="header__top-inner">
				<nav class="menu">
					<button class="menu__btn">
						<div class="menu__btn-line"></div>
						<div class="menu__btn-line"></div>
						<div class="menu__btn-line"></div>
					</button>
					<ul class="menu__list">
						<li class="menu__item">
							<a href="#" class="menu__link">Магазины</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">Акции</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">Доставка и оплата</a>
						</li>
					</ul>
				</nav>
				<a class="logo" href="#">
					<img class="logo__img" src="images/logo.svg" alt="">
				</a>
				<div class="header__box">
					<p class="header__adress">
						Москва, ул. Науки 25
					</p>
					<ul class="user-list">
						<li class="user-list__item">
							<a class="user-list__link favorite" href="#"></a>
						</li>
						<li class="user-list__item">
							<a class="user-list__link user " href="#"></a>
						</li>
						<li class="user-list__item">
							<a class="user-list__link  basket" href="#">
								<p class="basket__num">1</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<ul class="menu-mobile__list">
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<img class="menu-mobile__img" src="images/user.svg" alt="">
				<span>Войти</span>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<img class="menu-mobile__img" src="images/user.svg" alt="">
				<span>Регистрация</span>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<img class="menu-mobile__img" src="images/favorite.svg" alt="">
				<span>Избранное</span>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<img class="menu-mobile__img" src="images/basket.svg" alt="">
				<span>Корзина</span>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<img class="menu-mobile__img" src="images/home.svg" alt="">
				<span>Магазины</span>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<img class="menu-mobile__img" src="images/procent.svg" alt="">
				<span>Акции</span>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<img class="menu-mobile__img" src="images/box.svg" alt="">
				<span>Доставка и оплата</span>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<span>Квадроциклы</span>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<span>Катера</span>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<span>Гидроциклы</span>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<span>Лодки</span>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<span>Вездеходы</span>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<span>Снегоходы</span>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<span>Двигатели</span>
			</a>
		</li>
		<li class="menu-mobile__item">
			<a class="menu-mobile__link" href="#">
				<span>Запчасти</span>
			</a>
		</li>
	</ul>
	<div class="menu-mobile__linewrapper">
		<ul class="menu-mobile__line">
			<li class="menu__item">
				<a href="#" class="menu__link">Магазины</a>
			</li>
			<li class="menu__item">
				<a href="#" class="menu__link">Акции</a>
			</li>
			<li class="menu__item">
				<a href="#" class="menu__link">Доставка и оплата</a>
			</li>
		</ul>
	</div>

	<div class="header__bottom">
		<div class="container">
			<ul class="menu-categories">
				<li class="menu-categories__item">
					<a class="menu-categories__link" href="#">Квадроциклы</a>
				</li>
				<li class="menu-categories__item">
					<a class="menu-categories__link" href="#">Катера</a>
				</li>
				<li class="menu-categories__item">
					<a class="menu-categories__link" href="#">Гидроциклы</a>
				</li>
				<li class="menu-categories__item">
					<a class="menu-categories__link" href="#">Лодки</a>
				</li>
				<li class="menu-categories__item">
					<a class="menu-categories__link" href="#">Вездеходы</a>
				</li>
				<li class="menu-categories__item">
					<a class="menu-categories__link" href="#">Снегоходы</a>
				</li>
				<li class="menu-categories__item">
					<a class="menu-categories__link" href="#">Двигатели</a>
				</li>
				<li class="menu-categories__item">
					<a class="menu-categories__link" href="#">Запчасти</a>
				</li>
			</ul>

		</div>
	</div>


</header>